<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.backofficer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackOfficer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChooseFeatureBackOfficer" />
        <activity android:name=".activity.ChooseFeatureEmployee" />
        <activity android:name=".activity.ViewInformation" />
        <activity android:name=".activity.ManageAccount" />
        <activity android:name=".activity.Register" />
        <activity android:name=".activity.ManageTask" />
        <activity android:name=".activity.Details" />
        <activity android:name=".activity.DetailsEmployee" />
        <activity android:name=".activity.CreateTask" />
        <activity android:name=".activity.ListVehicle" />
        <activity android:name=".activity.ListEmployee" />
    </application>

</manifest>